button {
    cursor: pointer;
    font-family: "Google Sans", sans-serif;
    font-size: 1rem;
    border-radius: 8px;
    user-select: none;
}

button.primary {
    border: none;
    background-color: var(--primary-100);
    color: var(--primary-500);
    font-weight: 600;
    transition: .1s;

    &:hover {
        background-color: var(--primary-200);
    }

    &:active {
        background-color: var(--primary-300);
    }
}

button.secondary {
    border: none;
    background-color: var(--neutral-100);
    color: var(--neutral-900);
    font-weight: 600;
    transition: .1s;

    &:hover {
        background-color: var(--neutral-200);
    }

    &:active {
        background-color: var(--neutral-500);
    }
}

button.btn-icon {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 32px;
    margin: 0;
    padding: 0 12px;
}